<ion-view view-title="Home">
    <ion-content>
        <div class="list">
            <ion-input class="item item-input item-floating-label">
                <ion-label>First Name</ion-label>
                <input type="text"
                       placeholder="First Name">
            </ion-input>
            <ion-input class="item item-input item-floating-label">
                <ion-label>Last Name</ion-label>
                <input type="text"
                       placeholder="Last Name">
            </ion-input>
        </div>

        <div class="padding">
            <a class="button button-block button-positive icon icon-right ion-chevron-right" ui-sref="tabs.scroll">Submit</a>
        </div>
    </ion-content>
</ion-view>